* {
  margin: 0;
  padding: 0;
}

#box {
  position: absolute;
  width: 150px;
  height: 150px;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  animation: changeColor 2s infinite;
}

@keyframes changeColor {
    0% {
        background: linear-gradient(135deg, #ff7e5f, #feb47b);
    }
    25% {
        background: linear-gradient(135deg, #6a11cb, #2575fc);
    }
    50% {
        background: linear-gradient(135deg, #43cea2, #185a9d);
    }
    75% {
        background: linear-gradient(135deg, #ff512f, #dd2476);
    }
    100% {
        background: linear-gradient(135deg, #ff7e5f, #feb47b);
    }
}